In [1]:
import pandas as pd

In [2]:
a1 = pd.read_csv("Resources/CNN_headlines.csv")
a2 = pd.read_csv("Resources/Fox News_headlines.csv")

In [3]:
combined_df = a1.append(a2)
shuffled_df = combined_df.sample(frac = 1).reset_index(drop = True)
shuffled_df.head()

,title,publication,headline,bias,lean,is_sarcastic,head_char
0,"CNN 10 - January 5, 2017",CNN,"cnn 10 - january 5, 2017",LL,L,0,cnn 10 pdash january 5 pcomma 2017
1,Barca stuns PSG 6-1 in astonishing comeback,CNN,barca stuns psg 6-1 in astonishing comeback,LL,L,0,barca stuns psg 6 pdash 1 in astonishing comeback
2,Two killed in Belgian anti-terror operation,CNN,two killed in belgian anti-terror operation,LL,L,0,two killed in belgian anti pdash terror operation
3,Trump wins New Hampshire with help from Indepe...,Fox News,trump wins new hampshire with help from indepe...,RR,R,0,trump wins new hampshire with help from indepe...
4,When the Bronx Zoo exhibited a man in an iron ...,CNN,when the bronx zoo exhibited a man in an iron ...,LL,L,0,when the bronx zoo exhibited a man in an iron ...

In [4]:
shuffled_df.to_csv("Resources/CNN_vs_Fox_data.csv")