In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("Resources/combined_headlines.csv")
df.head()

,title,publication,headline,bias,lean,is_sarcastic,head_char
0,Istanbul attack: Dozens killed at nightclub,CNN,istanbul attack: dozens killed at nightclub,LL,L,0,istanbul attack pcolon dozens killed at nightclub
1,"Alabama, Clemson back in national title game",CNN,"alabama, clemson back in national title game",LL,L,0,alabama pcomma clemson back in national title ...
2,New year celebrations ring in 2017,CNN,new year celebrations ring in 2017,LL,L,0,new year celebrations ring in 2017
3,Trump says he has inside information on hacking,CNN,trump says he has inside information on hacking,LL,L,0,trump says he has inside information on hacking
4,3 dead in Texas plane crash collision,CNN,3 dead in texas plane crash collision,LL,L,0,3 dead in texas plane crash collision

In [12]:
full_df = df.loc[df["lean"] != "N", :]
full_df["lean"].value_counts()

L    105300
R     36014
Name: lean, dtype: int64

In [13]:
full_df["publication"].value_counts()

New York Post          17490
Huffington Post        14985
NPR                    11986
CNN                    11469
Washington Post        11113
Reuters                10707
Guardian                8676
New York Times          7796
Atlantic                7124
Business Insider        6703
WSJ                     6501
National Review         6199
Talking Points Memo     5179
Vox                     4942
Buzzfeed News           4620
Fox News                4352
Daily Wire              1472
Name: publication, dtype: int64

In [18]:
cut_df = full_df.loc[(full_df["publication"] != "Huffington Post") & (full_df["publication"] != "NPR") & (full_df["publication"] != "Reuters") & 
                     (full_df["publication"] != "Atlantic") & (full_df["publication"] != "Huffington Post") & (full_df["publication"] != "Business Insider") &
                     (full_df["publication"] != "Guardian") & (full_df["publication"] != "Buzzfeed News")]
cut_df["lean"].value_counts()

L    40499
R    36014
Name: lean, dtype: int64

In [19]:
cut_df.to_csv("Resources/lean_model_data_full.csv", index = False)